html,
body {
      background: linear-gradient(225deg, #E8AEB7, #B8E1FF, #A9FFF7, #94FBAB);
  background-size: 300% 300%;
  box-sizing: border-box;
  display: table;
  height: 100vh;
  margin: 0;
  position: relative;
  width: 100vw;
  -webkit-animation: Rainbow 25s ease infinite;
  -moz-animation: Rainbow 25s ease infinite;
  animation: Rainbow 25s ease infinite;
}

@-webkit-keyframes Rainbow {
  0% {
    background-position: 94% 0%; }
  50% {
    background-position: 7% 100%; }
  100% {
    background-position: 94% 0%; } 
}

.navbar ul {
    /*padding-top:2.7em;*/
}

#about {
    padding-top: 10em;
}

#about h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 4.7em;
    font-weight: 400;
    /*padding-top: .8em;*/
}


.col-sm-6 h3 {
   font-family: 'Open Sans', sans-serif;
    font-size: 1.8em;
    font-weight: 300;
    padding-top: 5em; 
    line-height: 1.4em;
}

.col-sm-6 p {
    text-align: left;
    opacity: 1;
    /*margin-top: 1.7em;*/
    font-size: 1.1em;
    font-weight: 300;
}

.footer {
    background-color: rgba(255, 0, 0, 0);
     padding-top: 4.7em;
}

.footer ul li {
    display: inline;
}

.footer ul li a {
      color: black;
}

/* animation*/

.js-wp-1 {
    opacity: 0;
}

.js-wp-1.animated {
    opacity: 1;
}

/* media queries */

@media only screen and (max-width : 75em) {

 #about {
    padding-top: 9.7em;
}

.footer {
    padding-top: 2.7em;
}

.col-sm-6 h3 {
    padding-top: 3em;
    }
}

@media only screen and (max-width : 62em) {

.container {
    max-width: 90% !important;
  }

  .header .navbar-brand {
    font-size: 1.3em;
}

.col-sm-6 h3 {
    font-size: 1.5em;
    }

    .col-sm-6 p {
    font-size: 1em;
        margin-top: 1.7em;
    }
}

@media only screen and (max-width : 48em) {

   #about h1 {
    font-size: 3.7em;
  }

  .col-sm-6 h3 {
    font-size: 1.3em;
}

.col-sm-6 p {
    font-size: .9em;
    }
}

@media only screen and (max-width : 20em) {

  .header .navbar-brand {
    font-size: .7em;
}

.container {
    max-width: 100% !important;
    width: 100%!important;
}

#about h1 {
    font-size: 2.7em;
}

.col-sm-6 h3 {
    font-size: 1em;
    padding-top: 1em;
}

.col-sm-6 p {
    font-size: .8em;
}

.footer {
    padding-top: 7.7em;
}
   
}

























}

